@charset:"utf-8";
@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
body        {font-family:Nanum Barun Gothic;}

#access dt {width:100%; height:0; font-size:0; line-height:0; }
#access a {display:block; position:absolute; top:-10000px; left:0; height:0;}
#big-box {width:100%;}


/*header css*/
#big-box {padding-top:20px;}
#big-box .nav {width:1200px; margin:0 auto; height:180px; background-color:#eeeeee; overflow:hidden; }
#big-box .nav-menu li { font-family: 'Titillium Web'; padding:50px 20px 50px 20px; float:left;  font-size:15px; font-weight:600; letter-spacing:0.5px;}
#big-box .nav-menu li a:hover {color:#76b7c0; transition:all 0.3s; }
#big-box .nav .logo {float:left; width:220px; padding-top:20px; }
#big-box .nav .logo .el-logo {padding-left:30px; text-align:center;}
#big-box .side-bar {width:400px; float:right; padding:50px 15px 50px 0;}
.side-menu li {float:right; width:34px; height:34px; border-radius:100px; background:#87cedc; text-align:center; line-height:34px; margin-left:4px;}
.side-menu li a {color:#fff; font-size:14px; padding:5px;}
.side-text li {float:right; font-size:11px; color:#999; font-weight:bold; margin: 7px 10px 0px 0px;}


/*main visual css*/
#main-visual {width:1200px; overflow:hidden; margin:0 auto; background-color:#eeeeee;}
#main-visual .main-photo p{float:left; box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);}
#main-visual .main-photo .main1 { background:url(../images/main1.jpg) no-repeat center center; width:400px; height:530px; background-size:cover; background-size:97% 97%; transition:all 0.5s;} 
#main-visual .main-photo .main2 { background:url(../images/main2.jpg) no-repeat center center; width:400px; height:530px; background-size:cover; background-size:97% 97%; transition:all 0.5s;}
#main-visual .main-photo .main3 { background:url(../images/main3.jpg) no-repeat center center; width:400px; height:530px; background-size:cover; background-size:97% 97%; transition:all 0.5s;}
#main-visual .main-photo p:hover { background-size:110% 110%; transform: rotate(5deg); }
#main-visual .main-photo .main1 a , .main-photo .main2 a , .main-photo .main3 a {width:380px; height:500px; display:inline-block; padding:0 10px;}



			
			/*   main-photo end   */
			
#main-visual .main-text {font-family:Nanum Barun Gothic; width:1200px; height:300px; overflow:hidden; margin:0 auto; 
overflow:hidden; background:#eeeeee; padding:70px 15px 55px 15px; }
#main-visual .main-text .references h2 {COLOR:#444444; font-size:27px; font-weight:400;}
#main-visual .main-text .references h2 span {border-bottom:2px solid #000;}
#main-visual .main-text .references ul {padding:20px 0;}
#main-visual .main-text .references li {font-size:14px; color:#444444; line-height:20px;}
#main-visual .main-text .references {display:inline-block; float:left;}
#main-visual .main-text .small-refer1 .plus {float:left; margin-right:20px;}
#main-visual .main-text .small-refer1 a {font-size:12px; border:1px solid #000; padding:5px 10px;}
#main-visual .main-text .small-refer1 a:hover {background:#000; color:#fff; transition:all 0.3s;}
#main-visual .main-text .small-refer1 li:nth-child(1) {padding-bottom:20px;}
#main-visual .main-text .small-refer2 .f-s11 {font-size:11px;}
#main-visual .main-text .small-refer2 li:nth-child(1) {font-weight:bold; color:#222222;}
#main-visual .main-text .padding {padding:0px 50px 0 40px;}
#main-visual .main-text .small-refer3 li {width:300px; height:120px; background:url(../images/map.jpg) center center; background-size:90% 90%; transition:all 0.5s;}
#main-visual .main-text .small-refer3 li:hover {background-size:110% 110%;}
#main-visual .main-text .small-refer3 li a {float:left; width:300px; padding-bottom:120px;}

 
 /* footer css */
 
#footer {margin:0 auto; width:1200px; height:100px; background:#eeeeee; clear:both; font-family:Nanum Barun Gothic; overflow:hidden; margin-bottom:20px;}
#footer .footer-text {margin:0 auto; width:1170px; height:90px; border-top:1px solid #d1d1d1; padding-top:30px;}
#footer .footer-text .sub-logo li {float:left; font-size:20px; font-weight:bold; color:#222222;}
#footer .footer-text .sub-logo li a:hover {color:#76b7c0; transition:all 0.3s;}
#footer .footer-text .copy li{ float:right; font-size:12px; color:#444444;}
















