<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <description></description>
    <display-name>NoticeFile</display-name>
    <servlet-name>NoticeFile</servlet-name>
    <servlet-class>controller.Notice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeFile</servlet-name>
    <url-pattern>/NoticeFile</url-pattern>
  </servlet-mapping>
  <display-name>webPJT_00_servlet_test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>News</servlet-name>
    <servlet-class>controller.News</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Notice</servlet-name>
    <servlet-class>controller.Notice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>News</servlet-name>
    <url-pattern>/News</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Notice</servlet-name>
    <url-pattern>/Notice</url-pattern>
  </servlet-mapping>
</web-app>