@charset:"utf-8";
@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body        {font-family:Nanum Barun Gothic; background:#6dacb8;}


#access dt {width:100%; height:0; font-size:0; line-height:0; }
#access a {display:block; position:absolute; top:-10000px; left:0; height:0;}


/*header css*/

#big-box {padding-top:20px;}
#big-box .nav {width:1200px; margin:0 auto; height:180px; background-color:#fff; overflow:hidden; }
#big-box .nav-menu li { font-family: 'Titillium Web'; padding:50px 20px 50px 20px; float:left;  font-size:15px; font-weight:600; letter-spacing:0.5px;}
#big-box .nav-menu li a:hover {color:#76b7c0; transition:all 0.3s; }
#big-box .nav .logo {float:left; width:340px; padding-top:20px; }
#big-box .nav .logo .el-logo {padding-left:30px; text-align:center;}
#big-box .side-bar {width:400px; float:right; padding:50px 15px 50px 0;}
.side-menu li {float:right; width:34px; height:34px; border-radius:100px; background:#87cedc; text-align:center; line-height:34px; margin-left:4px;}
.side-menu li a {color:#fff; font-size:14px; padding:5px;}
.side-text li {float:right; font-size:11px; color:#999; font-weight:bold; margin: 7px 10px 0px 0px;}




 /* sub-notice */
.notice {width:1200px; background:#fff; margin:0 auto; overflow:hidden;}
.notice .sub-notice {display:inline-block; padding-left:150px;}
.notice .sub-notice h2 {font-size:45px;  padding:20px 40px; float:left; text-align:center; }
.notice .sub-notice .color a {color:#6dacb8; font-weight:bold}


/* cont css */
.cont-box {width:100%; margin:0 auto; padding:50px; border-top:1px solid #ddd;}
.cont-box h3 {margin:20px 0; color:#444444; font-size: 27px;}
.cont-box h3 span {font-size:13px; color:#777;}
.cont-box h4 {font-size:25px; font-weight:bold; margin:30px 0; color:#444444;}
.cont-box dl {font-size:20px; color:#444444; font-weight:bold;}
.cont-box dt, dd {margin:10px 0 40px 0; line-height:20px; color:#777; font-size:14px; line-height: 40px;}



 /*목록,수정,삭제 버튼 css*/
 .list {text-align:right; margin:20px 40px 150px 0px;}
 .list a {border:2px solid #6dacb8; color:#444444; font-size:20px; padding:10px 20px; transition:all 0.5s;}
 .list a:hover {background:#6dacb8; color:#fff;}

 
 /* footer css */
 
#footer {margin:0 auto; width:1200px; height:100px; background:#fff; clear:both; font-family:Nanum Barun Gothic; overflow:hidden; margin-bottom:20px;}
#footer .footer-text {margin:0 auto; width:1170px; height:90px; border-top:1px solid #d1d1d1; padding-top:30px;}
#footer .footer-text .sub-logo li {float:left; font-size:20px; font-weight:bold; color:#222222;}
#footer .footer-text .sub-logo li a:hover {color:#76b7c0; transition:all 0.3s;}
#footer .footer-text .copy li{ float:right; font-size:12px; color:#444444; }
 

 



