@charset:"utf-8";
@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body        {font-family:Nanum Barun Gothic; background:#6dacb8;}


#access dt {width:100%; height:0; font-size:0; line-height:0; }
#access a {display:block; position:absolute; top:-10000px; left:0; height:0;}


/*header css*/

#big-box {padding-top:20px;}
#big-box .nav {width:1200px; margin:0 auto; height:180px; background-color:#fff; overflow:hidden; }
#big-box .nav-menu li { font-family: 'Titillium Web'; padding:50px 20px 50px 20px; float:left;  font-size:15px; font-weight:600; letter-spacing:0.5px;}
#big-box .nav-menu li a:hover {color:#76b7c0; transition:all 0.3s; }
#big-box .nav .logo {float:left; width:340px; padding-top:20px; }
#big-box .nav .logo .el-logo {padding-left:30px; text-align:center;}
#big-box .side-bar {width:400px; float:right; padding:50px 15px 50px 0;}
.side-menu li {float:right; width:34px; height:34px; border-radius:100px; background:#87cedc; text-align:center; line-height:34px; margin-left:4px;}
.side-menu li a {color:#fff; font-size:14px; padding:5px;}
.side-text li {float:right; font-size:11px; color:#999; font-weight:bold; margin: 7px 10px 0px 0px;}


/*main visual css*/
#main-visual {width:1200px; overflow:hidden; margin:0 auto;}
#main-visual .main-photo p{float:left;}
#main-visual .main-photo .main1 { background:url(../images/main1.jpg) no-repeat center center; width:423.333333px; height:530px; background-size:cover;}
#main-visual .main-photo .main2 { background:url(../images/main2.jpg) no-repeat center center; width:423.333333px; height:530px; background-size:cover;}
#main-visual .main-photo .main3 { background:url(../images/main3.jpg) no-repeat center center; width:423.333333px; height:530px; background-size:cover;}
			
			/*   main-photo end   */
			
#main-visual .main-text {font-family:Nanum Barun Gothic; width:1200px; height:300px; overflow:hidden; margin:0 auto; 
background:#eeeeee; padding:70px 25px 55px 25px; }
#main-visual .main-text .references h2 {COLOR:#444444; font-size:27px; font-weight:400;}
#main-visual .main-text .references h2 span {border-bottom:2px solid #000;}
#main-visual .main-text .references ul {padding:20px 0;}
#main-visual .main-text .references li {font-size:14px; color:#444444; line-height:20px;}
#main-visual .main-text .references {display:inline-block; float:left;}
#main-visual .main-text .small-refer1 a {font-size:12px; border:1px solid #000; padding:5px 10px;}
#main-visual .main-text .small-refer1 a:hover {background:#000; color:#fff; transition:all 0.3s;}
#main-visual .main-text .small-refer1 li:nth-child(1) {padding-bottom:20px;}
#main-visual .main-text .small-refer2 .f-s11 {font-size:11px;}
#main-visual .main-text .small-refer2 li:nth-child(1) {font-weight:bold; color:#222222;}
#main-visual .main-text .padding {padding:0px 70px 0 50px;}
#main-visual .main-text .small-refer3 li {width:300px; height:120px; background:url(../images/map.jpg)}


 /* sub-notice */
.notice {width:1200px; background:#fff; margin:0 auto; overflow:hidden;}
.notice .sub-notice {display:inline-block; padding-left:150px;}
.notice .sub-notice h2 {font-size:45px;  padding:20px 40px; float:left; text-align:center; }
.notice .sub-notice .color a {color:#6dacb8; font-weight:bold}

 /*table css*/
.table-box {margin:40px;}
.table {width:1100px; background:#fff; margin:0 auto; padding:60px; text-align:center;}
.table th {border-bottom:1px solid #999; border-top:1px solid #999; padding:5px 0px; background:#e1e1e1; }
.table .txt {text-align:left;}
.table td {padding:10px; border-bottom:1px solid #999; font-size:14px;}
.table .red span {background:#FE9A2E; color:#fff; padding:4px;}
.table .gray span{background:#e1e1e1; color:#444444; padding:4px;}

 /*page-number css*/
.page-number {width:1200px; margin:0 auto; background:#fff; text-align:center; line-height:10px; font-size:14px; padding-bottom:140px; }
.page-number .icon {color:#6dacb8; }
.page-number .more , .page-number .icon {border:none;}
.page-number a {border:1px solid #999; padding:2px 5px; margin:5px;}
.page-number .on {background-color:#6dacb8; color:#fff;}
.page-number .btn-write {width:80px; height:30px; background-color:#fff; float:right; background-color: #6dacb8; margin-right:50px; font-size:15px; line-height:25px; color:#fff; border:none;}
 
 /* footer css */
 
#footer {margin:0 auto; width:1200px; height:100px; background:#fff; clear:both; font-family:Nanum Barun Gothic; overflow:hidden; margin-bottom:20px;}
#footer .footer-text {margin:0 auto; width:1170px; height:90px; border-top:1px solid #d1d1d1; padding-top:30px;}
#footer .footer-text .sub-logo li {float:left; font-size:20px; font-weight:bold; color:#222222;}
#footer .footer-text .sub-logo li a:hover {color:#76b7c0; transition:all 0.3s;}
#footer .footer-text .copy li{ float:right; font-size:12px; color:#444444; }
 

 



