/*header css*/
#container {
  width: 940px;
  margin: 0px auto;
  /*margin: 0px;*/
  padding: 20px;
  border: 0px solid #bcbcbc;
  /*background : #ccc;*/
}
#header {
  width: 940px;
  height: 140px;
  padding: 0px;
  margin-bottom: 20px;
  border: 0px solid red;
  /*background : #F5DA81;*/
}

#index_content {
  width: 900px;
  height: 460px;
  padding: 20px;
  border: 0px solid #bcbcbc;
  background: #a9e2f3;
}
#footer {
  clear: both;
  padding: 20px;
  border: 1px solid #bcbcbc;
  background: #bca9f5;
}

.header_menu li {
  float: left;
}

.header_menu li a {
  display: inline-block;
  /*padding-top:5px;*/
  width: 188px;
  height: 20px;
  background: #a9a9a9;
  text-align: center;
  line-height: 20px;
  opacity: 0.8;
  color: white;
}

#header {
  background: url("../images/back_img_4.jpg");
  position: relative;
}
.header_menu {
  position: absolute;
  top: 120px;
}

#s_div_1,
#s_div_2,
#s_div_3,
#s_div_4 {
  position: absolute;
  display: none;
}
#s_div_5 {
  position: absolute;
  display: none;
  right: 0px;
}

#s_div_1 ul li a {
  width: 100px;
  background: #a9d0f5;
}
#s_div_2 ul li a {
  width: 100px;
  background: #a9d0f5;
}
#s_div_3 ul li a {
  width: 100px;
  background: #a9d0f5;
}
#s_div_4 ul li a {
  width: 100px;
  background: #a9d0f5;
}
#s_div_5 ul li a {
  width: 100px;
  background: #a9d0f5;
}
.top_right {
  position: relative;
  top: -15px;
}
.top_right li {
  float: right;
  border-right: 1px solid #6e6e6e;
}
.top_right li a {
  display: inline-block;
  width: 50px;
  height: 14px;
  text-align: center;
  color: #848484;
  font-size: 10px;
}

/* footer css */
#footer {
  clear: both;
  background: #42464d;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
}
#footer .address {
  font-style: normal;
  color: #ababb1;
  margin-bottom: 20px;
}
#footer .address .title {
  font-size: 14px;
  margin-bottom: 8px;
  color: #fff;
}
#footer .copyright {
  color: #fff;
}
