.select_Box {
  text-align: right;
}
.select_Box .sel_box {
  width: 50px;
  height: 20.5px;
  font-size: 10px;
  color: #848484;
}
.select_Box .sel_text {
  vertical-align: top;
  width: 80px;
  height: 16.5px;
  font-size: 11px;
}
.select_Box .sel_button {
  vertical-align: top;
  width: 60px;
  height: 20.5px;
  font-size: 11px;
  color: #848484;
}

.bord_list {
  padding-top: 10px;
}
.bord_table {
  width: 100%;
}
.bord_list th {
  border-top: 1px solid #848484;
  border-bottom: 1px solid #848484;
  padding: 10px;
}
.bord_table td {
  border-bottom: 1px solid #e0e0e0;
  padding: 10px;
  text-align: center;
}
.bord_table td.title {
  text-align: left;
}

.paging {
  clear: both;
  padding-top: 30px;
  text-align: center;
}
.paging a {
  padding: 10px;
  border: 1px solid #e0e0e0;
}
.paging a.active {
  background: #007dc6;
  color: #fff;
}
.paging .btn_write {
  background: #bdbdbd;
  padding: 10px 16px;
  color: #fff;
  float: right;
}
